#login {
	margin:auto auto;
	text-align:center;
	background-color:green;
	
	border:10px groove blue;
	width:300;
	height:470;
}

#dugmeRegistracija{
	background-color:orange;
	color:black;
	font-weight:bold;
	
	border:5px groove green;
	width:150;
	height:50;
}

#login .kontrola{
	background-color:blue;
	color:white;
	
	border:1px groove black;
	padding:10px 10px;
	margin: auto 20px auto 20px;
}

#naslov{
	color:blue;
	font-style:italic;
	font-weight:bold;
	
	padding:10px 10px;
}

#login .txt{
	width:200;
}